@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&display=swap')
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {

    font-family: dm-serif-display, sans-serif;
    font-weight:300;
    color: #3a3a3a;

}
/* headings & logo */
h1,h2 {
    font-family: dm-sans,sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}
#logo {
    float:left;
    font-size: 280%;
    margin-left: 30px;
}
/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;


    
}

#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 0.5px 0.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
#menu a:hover, a:active {
    background-color: black;
    color: white;

}

/* hero image*/

#hero-outer {
    height:600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
       background: url(../images/how-important-is-nutrition-for-fitness_1000x1000.webp);
        background-repeat: no-repeat;
        background-size: cover; 

  /* animates zoom effect on loading page */
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
  from{
      transform: scale(1);
  }
  to{
      transform: scale(1.1);
  }
}
/* about us*/
.about-us {
    height: 600px;
    position: relative;
    text-align: center;
    background-color:beige;
   
    

}



#center-about {
    width: 45%;
    text-align: center;
    line-height: 1.6;
    

}
#center-about-heading {
    text-align: center;
    margin: center;
    font-size: 280%;
    
}

#circle-container {
    width: 180px;
    height: 180px;
    padding: 30px;
    border-style: solid;
    border-color: rgb(22, 2, 2);
    border-width: 1px;
    border-radius: 50%;
    margin-left: 50px;
    float: bottom;
    

}
#circle-cover-bg {
    background: url(../images/Nutrition.jpg);
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;

    
    
   
}
#circle-container1 {
    width: 180px;
    height: 180px;
    padding: 30px;
    border-style: solid;
    border-color: rgba(22, 2, 2);
    border-width: 1px;
    border-radius: 50%;
    margin-left: 50px;
    float: left;
    margin-top: 30px;
    
    

}
#circle-cover-bg1 {
    background: url(../images/movment.PNG);
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
#circle-container2 {
    width: 180px;
    height: 180px;
    padding: 30px;
    border-style: solid;
    border-color: rgb(22, 2, 2);
    border-width: 1px;
    border-radius: 50%;
    margin-bottom: 500px;
    float: right;
}
#circle-cover-bg2 {
    background: url(../images/Education.jpg);
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
#circle-container3 {
    width: 180px;
    height: 180px;
    padding: 30px;
    border-style: solid;
    border-color: rgba(22, 2, 2);
    border-width: 1px;
    border-radius: 50%;
    margin-right: 50px;
    float: right;
    
}
#circle-cover-bg3 {
    background: url(../images/mental\ health.webp);
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}