@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&display=swap')
* {
    margin: 0;
    padding: 0;
    border: none;

}


body {

    font-family: dm-serif-display, sans-serif;
    font-weight:300;
    color: #3a3a3a;
    background-color: lightgray;
    

}
/* headings & logo */
h1,h2 {
    font-family: dm-sans,sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}
#logo {
    float:left;
    font-size: 280%;
    margin-left: 30px;
    border-style:solid;
border-color: #252525;
padding: 10px 0;
}
/* navigation links */
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}


.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(rgb(192, 16, 34), .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  #logo {
    grid-column: 2 / 3;
  }
  
  nav {
    // all: unset; 
    
    
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
   
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}



/* hero image & Cover Text*/

#hero-outer {
    height:600px;
    width: 100%;
    overflow: hidden;
}


#cover-text, #cover-text h2 {
    color: #fff;
}
#hero-image {
    height: 600px;
    width: 100%;
       background: url(../images/how-important-is-nutrition-for-fitness_1000x1000.webp);
        background-repeat: no-repeat;
        background-size: cover; 

  /* animates zoom effect on loading page */
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
  from{
      transform: scale(1);
  }
  to{
      transform: scale(1.1);
  }
}

#cover-text {
    font-size: 130%;
    text-align: center;
    font-family: dm-serif-display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 250px;
    height:185px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(10, 1, 1, 0.55);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* about us*/
#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%
}

.about-us {
    height: auto;
    position: relative;
    text-align: center;
    background-color:lightgray;
  

   
    

}
.row1 {
    display: flex;
    justify-content: space-evenly;
    
}

.row2 {
    display: flex;
    justify-content: space-between;
   
}
#paragraph {
    width:40%;
    line-height: 20px;
    text-align: center;
    margin: auto 0;
}
#circle-container1 {
    padding: 30px;
    border-style: solid;
    width: 180px;
    height: 180px;
    border-color:#3a3a3a;
    border-width: 1px;
    border-radius: 50%;
  
}
#circle-container-bg1 {
    background: url(../images/Education.jpg);
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}
#circle-container2 {
    padding: 30px;
    border-style: solid;
    width: 180px;
    height: 180px;
    border-color:#3a3a3a;
    border-width: 1px;
    border-radius: 50%;
}
#circle-container-bg2 {
    background: url(../images/mental\ health.webp);
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#paragraph2 {
    width:40%;
    line-height: 20px;
    text-align: center;
    margin: auto 0;
}
#circle-container3 {
        padding: 30px;
        border-style: solid;
        width: 180px;
        height: 180px;
        border-color:#3a3a3a;
        border-width: 1px;
        border-radius: 50%;
        margin-left: 15px;
    
    }
    #circle-container-bg3 {
        background: url(../images/Nutrition.jpg);
        background-size: cover;
        height: 100%;
        border-radius: 50%;
    }
    
#circle-container4 {
    padding: 30px;
    border-style: solid;
    width: 180px;
    height: 180px;
    border-color:#3a3a3a;
    border-width: 1px;
    
    border-radius: 50%;
    margin-right: 15px;
}
#circle-container-bg4 {
    background: url(../images/movment.PNG);
    background-size: cover;
    height: 100%;
    border-radius: 50%;


}

@media (max-width: 800px) {
  .row1 {
      flex-direction: column;
      align-items: center;
  }
  .row2 {
    flex-direction: column;
    align-items: center;
  }
  
}
/* Classes*/

#class121 {
    text-align: center;
    margin: 15px 0;
    font-size: 280%
}

.container121 {
    
        
        margin:10vh auto 0;
        height: auto;
        width:auto;
        padding: 0.5em;
        overflow:hidden;
        display: flex;
        flex-direction: row;
        
        justify-content: center;
      
        

    
}
.yoga {
margin: 1.5em;
width: 40%;

}
.one {
    
    background-image: url(../images/yoga1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-family: dm-serif-display, sans-serif;
    position: relative;
    padding: 30px 0 0 20px;
    justify-content: center;
    

    
}
.one::after {
    position: absolute;
    content: "";
    inset: 0;
    background:  grey;
    opacity: .4;
  
}
.two {
    
    background-image: url(../images/personal_training.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-family: dm-serif-display, sans-serif;
    position: relative;
    padding: 30px 0 0 20px;
    justify-content: center;
    

    
}
.two::after {
    position: absolute;
    content: "";
    inset: 0;
    background:  grey;
    opacity: .4;
  
}

.three {
    
    background-image: url(../images/workshop.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-family: dm-serif-display, sans-serif;
    position: relative;
    padding: 30px 0 0 20px;
    justify-content: center;
    

    
}
.three::after {
    position: absolute;
    content: "";
    inset: 0;
    background:  grey;
    opacity: .4;
  
}

.four {
    
    background-image: url(../images/technique.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-family: dm-serif-display, sans-serif;
    position: relative;
    padding: 30px 0 0 20px;
    justify-content: center;
    

    
}
.four::after {
    position: absolute;
    content: "";
    inset: 0;
    background:  grey;
    opacity: .4;
}

@media (max-width: 800px) {
  .container121 {
      flex-direction: column;
      align-items: center;
  }
}

/* footer */
footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #111;
    color: #fff;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: #f12020;
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: #f12020;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }

  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: #f12020;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 800px) {
   
    .main-content{
      align-items: center;
      flex-direction: column;
   
      
    }
   
    }
  
/* Gallery page */

.photo-gallery {
    max-width: 1500px;
    width: 100%;
    margin: inline 5px;
    padding: inline 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    object-fit: cover;
}

img {
    width:450px;
    height: 300px;
    margin: .5px;
    padding: 5px;

}
/* Sign up form */

.sign-up-background-image {
width:100%;
height:100vh;
}


.sign-up-container {
position: relative;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
padding:20px 100px;

}

.sign-up-container::after {
    content: "";
    position: absolute;
    font-family: dm-serif-display, sans-serif;
    width: 100%;
    height:100%;
    top:0;
    left: 0;
    background: url(../images/backgroundimagesignup.webp) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.sign-up-container-box {
max-width:850px;
display: grid;
grid-template-columns: repeat(2,1fr);
justify-content: center;
align-items: center;
text-align: center;
background-color: #fff;

}

.sign-up-left {
    height: 100%;
    background: url(../images/backgroundimagesignup.webp) no-repeat center;
    background-size: cover;

}

.sign-up-right {
    padding:25px 40px;
}

#Sign-up-heading-h2 {
    position: relative;
    padding: bottom;
    margin: bottom;

}
#Sign-up-heading-h2::after {
    content: "";
    position: absolute;
    left:50%;
    bottom: 0;
    transform: translate(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    

}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
    background-color: #fff;
    border: 2px sold rgba(30, 85, 250, 0.47)
}
.area {
min-height: 150px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    border: none;
    color:#fff;
    transition: .3s;
    margin-left: 15px;


}

.btn:hover {

}

/* Media Queries */

/* For medium screen sizes from 950px wide and down */

@media (max-width: 800px) {
  .row1 {
      flex-direction: column;
      align-items: center;
  }
  .row2 {
    flex-direction: column;
    align-items: center;
  }
}
  

  @media (max-width: 800px) {
    .container121 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        align-items: center;
    }
  }
   
  
  @media screen and (max-width: 800px) {
   
    .main-content{
      align-items: center;
      flex-direction: column;
   
      
    }
   
    }

        
     
    

    
    