@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&display=swap');





body {

    font-family: dm-serif-display, sans-serif;
    font-weight:300;
    color: #0b132b;
    background-color: #5BC0BE;
  

}
/* headings & logo */


h1,h2 {
    font-family: dm-sans,sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #1c2541;
}
#logo {
    float:left;
    font-size: 280%;
    margin-left: 30px;
    border-style:solid;
border-color: #1c2541;
padding: 10px 0;
}
/* navigation links */


header {
  
  text-align: center;
  position: relative;
  
  width: 100%;
  background:rgba(230, 230, 230, 0.6)
  
}


.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(192, 16, 34, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 2.7em;
  left: -1em;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #0b132b;
  height: 10px;
  width: 3em;
  top: 5px;
  
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 50px;
  left: 0;
  
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  background: #0b132b;
  
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #ffff;
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  

}

nav a:hover {
  color: #1c2541;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}



/* hero image & Cover Text*/

#hero-outer {
    height:600px;
    width: 100%;
    overflow: hidden;
}


#cover-text, #cover-text h2 {
    color: #ffffff;
}
#hero-image {
    height: 600px;
    width: 100%;
       background: url(../images/how-important-is-nutrition-for-fitness_1000x1000.webp);
        background-repeat: no-repeat;
        background-size: cover; 

  /* animates zoom effect on loading page */
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
  from{
      transform: scale(1);
  }
  to{
      transform: scale(1.1);
  }
}

#cover-text {
    font-size: 130%;
    text-align: center;
    font-family: dm-serif-display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 250px;
    height:185px;
    padding-top: 40px;
    padding-left: 10px;

    background-color: #1c2541;
    opacity: 0.6;

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* about us*/
#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%
}

.about-us {
    height: auto;
    position: relative;
    text-align: center;
    background-color: #5BC0BE;
  

   
    

}
.row1 {
    display: flex;
    justify-content: space-evenly;
    
}

.row2 {
    display: flex;
    justify-content: space-between;
   
}
#paragraph {
    width:400px;
    line-height: 1.8;
    text-align: center;
    padding: 10px;
    margin: 0;
    border: 5px solid #1c2541;
}
#circle-container1 {
    padding: 30px;
    border-style: solid;
    width: 180px;
    height: 180px;
    border-color:#ffffff;
    border-width: 1px;
    border-radius: 50%;
  
}
#circle-container-bg1 {
    background: url(../images/Education.jpg);
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}
#circle-container2 {
    padding: 30px;
    border-style: solid;
    width: 180px;
    height: 180px;
    border-color:#ffffff;
    border-width: 1px;
    border-radius: 50%;
}
#circle-container-bg2 {
    background: url(../images/mental\ health.webp);
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#paragraph2 {
    width:400px;
    line-height: 1.8;
    text-align: center;
    margin:  0;
    padding: 10px;
    border: 5px solid #1c2541;
    margin-top: 25px;
}
#circle-container3 {
        padding: 30px;
        border-style: solid;
        width: 180px;
        height: 180px;
        border-color:#ffffff;
        border-width: 1px;
        border-radius: 50%;
       margin-left: 225px;
        margin-top: 20px;
    
    }
    #circle-container-bg3 {
        background: url(../images/Nutrition.jpg);
        background-size: cover;
        height: 100%;
        border-radius: 50%;
    }
    
#circle-container4 {
    padding: 30px;
    border-style: solid;
    width: 180px;
    height: 180px;
    border-color:#ffffff;
    border-width: 1px;
   margin-right: 225px;
    
    border-radius: 50%;
   
    margin-top: 20px;
}
#circle-container-bg4 {
    background: url(../images/movment.PNG);
    background-size: cover;
    height: 100%;
    border-radius: 50%;


}


/* Classes*/

#class121 {
    text-align: center;
    margin: 15px 0;
    font-size: 280%;
}

.container121 {
    
        
        margin: auto 0;
        height: 480px;
        width:auto;
        padding: 0.5em;
        overflow:hidden;
        display: flex;
        flex-direction: row;
        
        justify-content: center;
      
        

    
}
.yoga {
margin: 1.5em;
width: 60%;

}
.one {
    
    background-image: url(../images/yoga1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    font-family: dm-serif-display, sans-serif;
    position: relative;
    padding: 30px 0 0 20px;
    justify-content: center;
    

    
}
.one::after {
    position: absolute;
    content: "";
    inset: 0;
    background:  #3A506B;
    opacity: .4;
  
}
.two {
    
    background-image: url(../images/personal_training.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    font-family: dm-serif-display, sans-serif;
    position: relative;
    padding: 30px 0 0 20px;
    justify-content: center;
    

    
}
.two::after {
    position: absolute;
    content: "";
    inset: 0;
    background:  #3A506B;
    opacity: .4;
  
}

.three {
    
    background-image: url(../images/workshop.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    font-family: dm-serif-display, sans-serif;
    position: relative;
    padding: 30px 0 0 20px;
    justify-content: center;
    

    
}
.three::after {
    position: absolute;
    content: "";
    inset: 0;
    background:  #3A506B;
    opacity: .4;
  
}

.four {
    
    background-image: url(../images/technique.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align:center;
    font-family: dm-serif-display, sans-serif;
    position: relative;
    padding: 30px 0 0 20px;
    justify-content: center;
    

    
}
.four::after {
    position: absolute;
    content: "";
    inset: 0;
    background:  #3a506b;
    opacity: .4;
}


/* footer */
footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #3a506b;
    color: #5BC0BE;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #3A506B;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #ffffff;
    top: -10px;
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #3A506B;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: #ffffff;
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background: #3A506B;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: #ffffff;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }

  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: #f12020;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  
.mapouter {
  position: relative;
  text-align: right;
  height: 250px;
  width:300px;
  }
  .gmap_canvas {
    overflow:hidden;
    background: none!important;
    height: 250px;
    width: 300px;
    
    
    }

  iframe {
    border: 0px;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    

  }

  
/* Gallery page */

.photo-gallery {
    max-width: 1500px;
    width: 100%;
    margin-inline: 5px;
    padding-inline:  2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    object-fit: cover;
}

img {
    width:450px;
    height: 300px;
    margin: .5px;
    padding: 5px;

}
/* Sign up form */

.sign-up-background-image {
width:100%;
height:100vh;
}


.sign-up-container {
position: relative; 
display: flex;
justify-content: center;
align-items: center;
height:auto;
width: 100%;


}

.sign-up-container::after {
    content: "";
    position: absolute;
    font-family: dm-serif-display, sans-serif;
    width: 100%;
    height:100%;
    top: 150px;
    left: 0;
    background: url(../images/backgroundimagesignup.webp) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.sign-up-container-box {
max-width:850px;
display: grid;
grid-template-columns: repeat(2,1fr);
justify-content: center;
align-items: center;
text-align: center;
background-color: #fff;

}

.sign-up-left {
    height: 100%;
    background: url(../images/backgroundimagesignup.webp) no-repeat center;
    background-size: cover;

}

.sign-up-right {
    padding:25px 40px;
}

#Sign-up-heading-h2 {
    position: relative;
    padding-bottom: 0 ;
    margin-bottom: 0;

}
#Sign-up-heading-h2::after {
    content: "";
    position: absolute;
    left:50%;
    bottom: 0;
    transform: translate(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    

}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
    background-color: #ffffff;
    border: 2px solid #1c2541
}
.area {
min-height: 150px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #5BC0BE;
    cursor: pointer;
    outline: none;
    border: none;
    color:#fff;
    transition: .3s;
    margin-left: 15px;


}

.btn:hover {

}

/* Media Queries */

/* For medium screen sizes from 800px wide and down */


@media screen and (max-width:1200px) {
  #circle-container3 {
    padding: 30px;
    border-style: solid;
    width: 180px;
    height: 180px;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 20px;
}
#circle-container4 {
  padding: 30px;
  border-style: solid;
  width: 180px;
  height: 180px;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: 50%;
  margin-right: 80px;
  margin-top: 20px;
}
}

@media (max-width: 950px) {
  .row1 {
      flex-direction: column;
      align-items: center;
  }
  .row2 {
    flex-direction: column;
    align-items: center;
  }
  #paragraph {
    width:auto;
  }
  #paragraph2 {
    width: auto;
  }
}
  

  @media (max-width: 950px) {
    .container121 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        align-items: center;
        
    }
  }
   
  
  @media screen and (max-width: 950px) {
   
    .main-content{
      align-items: center;
      flex-direction: column;
      text-align: center;
   
      
    }
   
    }

    @media screen and (min-width: 950px) {
      .nav-toggle-label {
        display: none;
      }
    
      header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        padding: 0;
      }
      
      #logo {
        grid-column: 2 / 3;
       
      }
      
      nav {
        
       
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
       
        
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      
      nav ul {
        display: flex;
      }
      
      nav li {
        margin-left: 3em;
        margin-bottom: 0;
      }
      
      nav a {
        opacity: 1;
        position: relative;
      }
      
      nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
      }
      
      nav a:hover::before {
        transform: scale(1,1);
      }
    }
  
    @media screen and (max-width: 950px) {
   
      .photo-gallery{
       display: flex;
       flex-direction: column;
        align-items: center;
      }
    }
  @media screen and (max-width: 950px) {

    .sign-up-container {
      padding: 0;
    }
    .sign-up-container-box {
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      margin: auto;
      max-width: 90%;
      
      
    
  }
  .sign-up-left {
    height: 200px;
  }
     
    

    
}
@media screen and (max-width:950px) {
  #hero-image {
    margin: auto;
    max-width: 90%;
    display: flex;
  }
  #cover-text {
    align-items: center;
    justify-content: center;
    margin-left: auto;
    
  }
}

@media screen and (max-width:450px) {
  #hero-image {
    margin: auto;
    max-width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding:0;
    margin-top: 55px;
  }
  #cover-text {
    font-size: 100%;
    text-align: center;
    font-family: dm-serif-display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 195px;
    height: 185px;
    padding-top: 40px;
   
    background-color: rgba(10, 1, 1, 0.55);
    bottom: 100px;
    right: 20px;
    position: relative;
    
left:-80px;

   
   
    

}
#logo {
  
  margin: 1%;
  top: 55px;
  background: rgba(230, 230, 230, 0.6);
  display: flex;
  width: 10px;
  align-items: center;
  padding: 10px;
  border-style: solid;
  height: 100px;
  width: 280px;
  
  
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #3A506B;
  height: 8px;
  width: 3.5em;
  top: 0.5px;
  
  border-radius: 35px;
  position: relative;
}

#circle-container3 {
  padding: 30px;
  border-style: solid;
  width: 180px;
  height: 180px;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: 50%;
  margin-left: 0;
  margin-top: 15px;
}

  #circle-container4 {
    padding: 30px;
    border-style: solid;
    width: 180px;
    height: 180px;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 50%;
    margin-right:  0;
    
  
}
#paragraph {
  width:300px;
  line-height: 1.8;
  text-align: center;
  padding: 10px;
  margin: 0;
  border: 5px solid #1c2541;
}
#paragraph2 {
  width:300px;
  line-height: 1.8;
  text-align: center;
  margin:  0;
  padding: 10px;
  border: 5px solid #1c2541;
  margin-top: 25px;
}
.container121 {
    
        
  margin: auto 0;
  height: auto;
  width:auto;
  padding: 0.5em;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
}

  .sign-up-container-box {
    grid-template-columns: 0.5fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 85%;


}
.sign-up-right {
  padding: 2px 4px;
}
.sign-up-left {
  height: 200px;
  width: 200px;
}
.sign-up-container {
  padding-top: 10%;
  padding-bottom: 10%;
}
  
}
